.menu{
    cursor: pointer; 
    margin-top: 15px;
    margin-bottom: 15px;
    color: black;
}

.card-margin{
    height: 60px;
    width: 285px;
    margin-left: -13px;
    border: 1px solid black;
    cursor: pointer;
}

.menu-text{
    margin-left: 15px;
    margin-top: 20px;
    font-size: larger;
}